@import "vendor/vars.scss";
@import "vendor/null.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Prompt:wght@400;500;600&display=swap');

@import "blocks/header";
@import "blocks/burger";
@import "blocks/food";
@import "blocks/newpage";


.none {
	display: none;
}

// font-family: 'Poppins', sans-serif;
// font-family: 'Prompt', sans-serif;

html {
	font-size: 10px;
	// scroll-behavior: smooth;
}

body {
	height: 100%;
    background-color: $white;
    font-family: $font_family;
	 font-weight: 400;
    font-size: 2rem;
    color: $primary;

	 overflow-x: hidden;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.section {
	margin-bottom: 180px;
}







@import "blocks/wedding";
@import "blocks/swiper";
@import "blocks/studio";
@import "blocks/modal";
@import "blocks/family";


@import "blocks/media";
