<div class="contacts">
	<div class="contacts__image">
		<img src="/assets/images/contacts/img1.jpg" alt="photo">
	</div>
	<div class="contacts__info">
		<div class="contacts__adress">
			<h3 class="title contacts__title">Контакты</h3>
			<p class="text contacts__location">город Москва</p>
			<p class="text contacts__studio-mame">Фотостудия “У Полины”</p>
			<p class="text contacts__tel">тел: <a href="tel:88974326622"> 8-897-432-66-22</a></p>
			<p class="text contacts__mail">email: <a href="mailto:phw@gmail.com">phw@gmail.com</a></p>
		</div>
		<div class="contacts__feedbacks">
			<p class="text contacts__feedbacks-text">Отзывы можно оставить
				или Посмотреть здесь</p>
			<a href="newpage.html" class="contacts__feedbacks-btn">
				<img src="/assets/images/contacts/Arrow.svg" alt="">
			</a>
		</div>
		<img src="/assets/images/contacts/cov.png" alt="" class="contacts__cov">
	</div>