<div class="family">
	<div class="food__items items">
		<h3 class="title family__title">Семейные фотосъемки</h3>
		<div class="text__inner">
			<p class="text family__text">Уютные, душевные, веселые, семейные фотографии оставят в памяти мгновения вашей
				жизни. </p>
		</div>
		<div class="family__tabs">
			<div class="tabs__nav">
				<button class="tabs__nav-btn" type="button" data-tab="#tab_1">Петровы </button>
				<button class="tabs__nav-btn" type="button" data-tab="#tab_2">Воронины</button>
				<button class="tabs__nav-btn" type="button" data-tab="#tab_3">Ивановы</button>
				<button class="tabs__nav-btn" type="button" data-tab="#tab_4">Шевцовы</button>
			</div>
			<div class="tabs__content">
				<div class="tabs__item" id="tab_1">
					<div class="tabs__images img_1">
						<a href="newpage.html" class="tabs__images-link">
							Больше фото</a>
						<img class="tabs__img-btn" src="/assets/images/tabs/Petrovi/1.jpg" alt="photo">
					</div>
					<div class="tabs__images img_2">
						<img src="/assets/images/tabs/Petrovi/2.jpg" alt="photo">
					</div>
					<div class="tabs__images img_3">
						<img src="/assets/images/tabs/Petrovi/3.jpg" alt="photo">
					</div>
					<div class="tabs__images img_4">
						<img src="/assets/images/tabs/Petrovi/4.jpg" alt="photo">
					</div>
					<div class="tabs__images img_5">
						<img src="/assets/images/tabs/Petrovi/5.jpg" alt="photo">
					</div>
					<div class="tabs__images img_6">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_7">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_8">
						<img src="/assets/images/tabs/Petrovi/8.jpg" alt="photo">
					</div>
				</div>
				<div class="tabs__item" id="tab_2">
					<div class="tabs__images img_1">
						<a href="newpage.html" class="tabs__images-link button">Больше фото</a>
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_2">
						<img src="/assets/images/tabs/Petrovi/2.jpg" alt="photo">
					</div>
					<div class="tabs__images img_3">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_4">
						<img src="/assets/images/tabs/Petrovi/4.jpg" alt="photo">
					</div>
					<div class="tabs__images img_5">
						<img src="/assets/images/tabs/Petrovi/5.jpg" alt="photo">
					</div>
					<div class="tabs__images img_6">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_7">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_8">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
				</div>
				<div class="tabs__item" id="tab_3">
					<div class="tabs__images img_1">
						<a href="newpage.html" class="tabs__images-link button">Больше фото</a>
						<img src="/assets/images/tabs/Petrovi/1.jpg" alt="photo">
					</div>
					<div class="tabs__images img_2">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_3">
						<img src="/assets/images/tabs/Petrovi/3.jpg" alt="photo">
					</div>
					<div class="tabs__images img_4">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_5">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_6">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_7">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_8">
						<img src="/assets/images/tabs/Petrovi/8.jpg" alt="photo">
					</div>
				</div>
				<div class="tabs__item" id="tab_4">
					<div class="tabs__images img_1">
						<a href="newpage.html" class="tabs__images-link button">Больше фото</a>
						<img src="/assets/images/tabs/Petrovi/1.jpg" alt="photo">
					</div>
					<div class="tabs__images img_2">
						<img src="/assets/images/tabs/Petrovi/2.jpg" alt="photo">
					</div>
					<div class="tabs__image img_3">
						<img src="/assets/images/tabs/Petrovi/3.jpg" alt="photo">
					</div>
					<div class="tabs__images img_4">
						<img src="/assets/images/tabs/Petrovi/4.jpg" alt="photo">
					</div>
					<div class="tabs__images img_5">
						<img src="/assets/images/tabs/Petrovi/5.jpg" alt="photo">
					</div>
					<div class="tabs__images img_6">
						<img src="/assets/images/tabs/Petrovi/6.jpg" alt="photo">
					</div>
					<div class="tabs__images img_7">
						<img src="/assets/images/tabs/Petrovi/7.jpg" alt="photo">
					</div>
					<div class="tabs__images img_8">
						<img src="/assets/images/tabs/Petrovi/8.jpg" alt="photo">
					</div>
				</div>
			</div>
		</div>