<div class="food">
	<div class="food__items items">
		<h3 class="title">Самая вкусная фотосессия “Фудфото”.</h3>
		<div class="text__inner">
			<p class="text">Я знаю как сделать вашу еду еще вкуснее. Закажите фотосесиию ваших блюд, и аппетитные фото вам
				гарантированы. </p>
			<p class="text">Так же, могу сделать для вас готовое меню и посоветовать отличную студию для его печати.</p>
		</div>
		<a class="food__button button lg" href="newpage.html">Подробнее</a>
	</div>
	<div class="food__img">
		<img src="/assets/images/food/food.jpg" alt="Фудфото">
	</div>
</div>