<footer class="footer">

	<div class="footer__box">
		<div class="footer__info">
			<a href="index.html"><img src="/assets/images/header/headerLogo.svg" alt="logo" class="footer__logo"></a>
			<div class="footer__info-inner">
				<div class="text footer__logo-description">Давайте вместе сохраним лучшие моменты. </div>
				<div class="footer__social">
					<a href="https://vk.com" target="_blank"><img src="/assets/images/footer/fb.svg" alt=""
							class="facebook"></a>
					<a href="https://vk.com" target="_blank"><img src="/assets/images/footer/vk.svg" alt="" class="vk"></a>
					<a href="https://vk.com" target="_blank"><img src="/assets/images/footer/tw.svg" alt=""
							class="twitter"></a>
				</div>
			</div>
		</div>

		<div class="footer__info">
			<h6 class="footer__title">Контакты</h6>
			<div class="footer__info-inner">
				<p class="text footer__text"> <a href="tel:88974326622"> тел: 8-897-432-66-22</a></p>
				<p class="text footer__text"> <a href="mailto:phw@gmail.com">email: phw@gmail.com</a></p>
				<a href="newpage.html" class="text footer__text">Студия “У Полины”</a>
			</div>
		</div>

		<div class="footer__info">
			<h6 class="footer__title">Дополнительно</h6>
			<div class="footer__info-inner">
				<a href="newpage.html" class="text footer__text">Слайдшоу</a>
				<a href="newpage.html" class="text footer__text">Фотокнига</a>
				<a href="newpage.html" class="text footer__text">Фотопечать</a>
			</div>
		</div>

		<div class="footer__info">
			<h6 class="footer__title">Навигация</h6>
			<div class="footer__info-inner">
				<a href="newpage.html" class="text footer__text">Обо мне</a>
				<a href="newpage.html" class="text footer__text">Портфолио</a>
				<a href="newpage.html" class="text footer__text">Прайс</a>
			</div>
		</div>
	</div>
	<div class="footer__arrow-up">
		<a href="#header">
			<img src="/assets/images/footer/Arrow footer.svg" alt=""></a>
	</div>
</footer>