<header class="header" id="header">
	<div class="container">
		<div class="header__top">
			<div class="header__menu icon-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header__logo">
				<img class="img-svg" src="/assets/images/header/headerLogo.svg" alt="">
			</div>
			<div class="menu__body">
				<nav class="nav">
					<a href="newpage.html" class="nav__link">
						Главная
					</a>
					<a href="newpage.html" class="nav__link">
						Обо мне
					</a>
					<a href="newpage.html" class="nav__link">
						Портфолио
					</a>
					<a href="newpage.html" class="nav__link">
						Прайс
					</a>
					<a href="newpage.html" class="nav__link">
						Контакты
					</a>
				</nav>
			</div>

			<div class="header__button button">
				<a href="newpage.html">Контакты</a>
			</div>

		</div>
		<div class="header__content">
			<div class="header__content-inner">
				<h2 class="header__title">ваш Фотограф </h2>
				<h1>Полина Ш.</h1>
				<p class="header__subtitle">С любовью в каждом кадре...</p>

				<div class="header__content-inner-button lg button">
					<a href="newpage.html">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="header__social">
			<div class="header__social-inner">
				<div class="header__social-inner-line"></div>
				<div class="header__social-text">
					<p>Я есть</p>
				</div>
				<div class="header__social-icon">
					<a href="https://ru-ru.facebook.com/" target="_blank">
						<img src="/assets/images/header/fb.svg" alt="Facebook"></a>
					<a href="https://vk.com" target="_blank">
						<img src="/assets/images/header/vk.svg" alt="Vcontakte" target="_blank"></a>
					<a href="https://www.whatsapp.com/" target="_blank">
						<img src="/assets/images/header/wup.svg" alt="Whatsapp"></a>
					<a href="https://web.telegram.org/z/" target="_blank">
						<img src="/assets/images/header/tg.svg" alt="Telegram"></a>
				</div>
			</div>
		</div>
</header>