<div class="modal" id="loop-modal1">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide1.jpg">
	</div>
</div>

<div class="modal" id="loop-modal2">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide2.jpg">
	</div>
</div>

<div class="modal" id="loop-modal3">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide3.jpg">
	</div>
</div>

<div class="modal" id="loop-modal4">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide4.jpg">
	</div>
</div>

<div class="modal" id="loop-modal5">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide5.jpg">
	</div>
</div>

<div class="modal" id="loop-modal6">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide6.jpg">
	</div>
</div>

<div class="modal" id="loop-modal7">
	<div class="modal-img modal__content">
		<img src="/assets/images/wedding/slide7.jpg">
	</div>
</div>