<div class="container-studio">
	<div class="sidebar">
		<div style="background: linear-gradient(229.99deg, #835567 -26%, #830242 145%);">
			<h1>Студийная съемка</h1>
			<p>Мария</p>
		</div>
		<div style="background: linear-gradient(215.32deg, #954445 -1%, #360202 124%);">
			<h1>Студийная съемка</h1>
			<p>Елизаветта</p>
		</div>
		<div style="background: linear-gradient(221.87deg, #c98561 1%, #af4105 128%);">
			<h1>Студийная съемка</h1>
			<p>Полина</p>
		</div>
		<div style="background: linear-gradient(220.16deg, #c9bc57 -8%, #F39102 138%);">
			<h1>Студийная съемка</h1>
			<p>Светлана</p>
		</div>
		<div style="background: linear-gradient(220.16deg, #ff90b7 -8%, #381c21 138%);">
			<h1>Студийная съемка</h1>
			<p>Катерина</p>
		</div>
		<div style="background: linear-gradient(220.16deg, #a16363 -8%, #9E2339 138%);">
			<h1>Студийная съемка</h1>
			<p>Анна</p>
		</div>
		<div style="background: linear-gradient(220.16deg, #6e81ae -8%, #485676 138%);">
			<h1>Студийная съемка</h1>
			<p>Мария</p>
		</div>
	</div>
	<div class="main-slide">
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1543762446-67600aab041f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
			  "></div>
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1660249349588-6d7ca2d2a2ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
			  "></div>
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1544143040-b4893bee0783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80');
	  "></div>
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1512316609839-ce289d3eba0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
				  "></div>
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1547921910-68dd94b3954d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
			  "></div>
		<div style="
				  background-image: url('https://images.unsplash.com/photo-1517841416045-94ed85a4e7bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
						 "></div>
		<div style="
				 background-image: url('https://images.unsplash.com/photo-1503342521957-a6c73074d732?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
			  "></div>

	</div>
	<div class="controls">
		<button class="down-button">
			<i class="fas fa-arrow-down"></i>
		</button>
		<button class="up-button">
			<i class="fas fa-arrow-up"></i>
		</button>
	</div>
</div>

</div>