<div class="image-slider swiper-container">
	<div class="image-slider__wrapper swiper-wrapper">


		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev1.jpg" alt="Свадебные кольца">

				<img data-modal="loop-modal1" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">

				<p class="text">Детали...</p>
			</div>
		</div>




		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev2.jpg" alt="Свадебный стол">

				<img data-modal="loop-modal2" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Атмосфера...</p>
			</div>
		</div>

		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev3.jpg" alt="Свадебный торт">

				<img data-modal="loop-modal3" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Память...</p>
			</div>
		</div>

		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image">
				<img src="/assets/images/wedding/slide-prewiev4.jpg" alt="">
				<img data-modal="loop-modal4" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Друзья...</p>
			</div>
		</div>

		<div class="image-slider swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev5.jpg" alt="">

				<img data-modal="loop-modal5" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Он и она...</p>
			</div>
		</div>

		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev6.jpg" alt="">

				<img data-modal="loop-modal6" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Счастье...</p>
			</div>
		</div>

		<div class="image-slider__slide swiper-slide">
			<div class="image-slider__image"> <img src="/assets/images/wedding/slide-prewiev7.jpg" alt="">

				<img data-modal="loop-modal7" class="image-slider__swiper-loop" src="/assets/images/wedding/Loop.svg"
					alt="Увеличить">
				<p class="text">Уют...</p>
			</div>
			<!-- <div class="swiper-button-next"></div> -->
		</div>
		<!-- <div class="swiper-button-prew"></div>
		<div class="swiper-button-next">
			<img src="/assets/images/wedding/wedArrow.svg" alt="Вперед">
		</div> -->
	</div>



	<div class="swiper-scrollbar"></div>
	<!-- <div class="swiper-pagination"></div> -->

</div>
</div>