<div class="wedding">
	<h3 class="title">Свадебная фотосессия.</h3>
	<div class="wedding__content">
		<div class="wedding-left__left-content">

			<div class="wedding-left__bride">
				<div class="wedding-left__bride-hidden">
					<img class="wedding-left__bride-img" src="/assets/images/wedding/bride.jpg" alt="Фото невесты">
				</div>
				<!-- <img class="wedding-left__img-bg-dots" src="assets/images/wedding/dots.png" alt="декор"> -->

			</div>
			<p class="wedding-left__description text">Самые счастливые моменты вашей жизни, навсегда остануться в вашей
				памяти</p>
		</div>
		<div class="wedding-right__right-content">
			<div class="wedding-right__video">

				<div data-modal="video-modal" class="wedding-right__video-btn">
					<img src="/assets/images/wedding/iconWatch.svg" alt="play">
				</div>

				<img class="wedding-right__video-preview" src="/assets/images/wedding/videoPrw.jpg" alt="превью">

				<!-- <video id="video-modal" class="wedding-right__video-slideshow none">
					<source src="/assets/images/wedding/wedVideo.mp4" type="video/mp4">
				</video> -->
			</div>

			<div class="wedding-right__galery-link ">
				<a href="newpage.html">
					<h4>Смотреть портфолио</h4>
				</a>
			</div>
			<div class="wedding-right__slider">
				{{> swiper }}


			</div>
		</div>

	</div>

</div>